h1,
h2,
h3 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

h3 {
    position: relative;
    top: 1.5vh;
    text-align: left;
    left: 6.33rem;
}

h4 {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    top: 1vh;
    text-align: center;
    color: white;
}

.square {
    position: absolute;
    width: 515px;
    height: 65%;
    left: 675px;
    top: 20vh;

    background: #6F95F9;
    border-radius: 25px;
}

.body {
    background-color: #292727;
    text-align: center;
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.form {
   background: rgba(73, 73, 73, 0.3);
   border: 3px solid #000000;
   box-shadow: inset 0px 4px 4px
    rgba(0, 0, 0, 0.25);
   border-radius: 25px;

   position: relative;
   height: 2.5rem;
   width: 20rem;
}

#register-button {
    background-color: #EEE5FF;
    position: relative;
    top: 3vh;
    width: 16rem;
    height: 3rem;
    border: 2px solid #000000;
    border-radius: 20px;

    color: #494949;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

#register-button:hover {
    background-color: #D2D9EA;
    position: relative;
    top: 3vh;
    width: 16rem;
    height: 3rem;
    border: 2px solid #000000;
    border-radius: 20px;

    color: #494949;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

#register-button:active {
    background-color: #F2F2F2;
    position: relative;
    top: 3vh;
    width: 16rem;
    height: 3rem;
    border: 2px solid #000000;
    border-radius: 20px;

    color: #494949;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
