<header class="body">
    <h1>Video Game Tracker</h1>

    <div class="square">
        <h2>Welcome</h2>
        <h3>Email</h3>
            <section>
                <input class="form" type="email">
            </section>
        <h3>Password</h3>
            <section>
                <input class="form" type="password">
            </section>
        <h3>Confirm Password</h3>
            <section>
                <input class="form" type="password">
            </section>
        <section>
            <button id="register-button">Register</button>
        </section>
    </div>
</header>